@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-bg: #11151C;
    --color-text: #f1faee;
    --color-highlight: #364156;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--color-text);
    outline: 0;
    text-decoration: none;
}

i {
    font-size: 70px;
}

h3 {
    border-bottom: 2px solid var(--color-highlight);
    display: inline-block;
    font-size: 2rem;
    margin: 2rem 0;
    padding-left: 1rem;
}

.arrow {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "leading portfolio"
    "skills  contact";
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 1as0px;
}

.hero {
    align-self: center;
    font-size: 2rem;
    grid-area: leading;
}

.hero__text p {
    margin-bottom: 2rem;
}

.resume {
    border: 2px solid var(--color-text);
    border-radius: 10px;
    padding: 10px 20px;
}

.portfolio {
    grid-area: portfolio;
}

.card {
    align-items: center;
    background-color: var(--color-highlight);
    border-radius: 10px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1rem;
    width: 500px;
}

.card a {
    border: 1px solid var(--color-text);
    margin-right: 15px;
    padding: 10px 20px;
}


.my-skills {
    grid-area: skills;
}

.contact {
    grid-area: contact;
}


.contact-info {
    align-items: center;
    display: flex;
}

.contact-info p {
    margin-right: 2rem;
}

.contact-links a:first-child {
    margin-right: 2rem;
}


@media screen and (max-width: 768px) {
    /* .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100% 1fr 1fr;
        grid-template-areas: 
        "leading"
        "skills"
        "portfolio"
        "contact";
    }
     */
    .hero {
        align-self: center;
        justify-self: center;
    }

    .arrow {
        align-self: end;
        display: flex;
        grid-area: leading;
        justify-content: center;
        transform: translateY(-100px);
        width: 100vw;
    }

    .line1, .line2 {
        width: 50px;
        height: 10px;
        border-radius: 10px;
        background-color: var(--color-text);
    }

    .line1 {
        transform: rotate(30deg) translateX(8px);
    }

    .line2 {
        transform: rotate(-30deg) translateX(-8px);
    }
}

