@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

a {
    color: var(--color-text);
    text-decoration: none;
    outline: 0;
}

h3 {
    margin: 2rem 0;
    display: inline-block;
    font-size: 2rem;
    padding-left: 1rem;
    border-bottom: 2px solid var(--color-highlight);
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "leading portfolio"
    "skills  contact";
}

.hero {
    grid-area: leading;
    align-self: center;
}

.portfolio {
    grid-area: portfolio;
}

.my-skills {
    grid-area: skills;
}

.contact {
    grid-area: contact;
}

